@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');


body {
    font-family: 'Raleway', sans-serif;
    background-color:  #fff;
    color: #4a4f53;
    line-height: 1.6;
  }

.container {
    max-width: 768px;
    margin: auto;
    padding: 0 20px;
} 
  
/* header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 30px;
    background-color: #4a4f53;
    border-radius: 15px;
} 

header h2 {
  color: #ccc;
  margin-left: 10px;
} */

.card {
    background-color: #aec6cf;
    color: #4a4f53;
    border-radius: 15px;
    border-color: #22a0b1;
    padding: 50px 100px;
    margin: 20px 0;
    position: relative;
}

.card h2 {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.input-group {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  padding: 4px 5px;
  margin-bottom: 5px;
  border-radius: 8px;
}
  
input {
  flex-grow: 2;
  border: none;
  font-size: 16px;
  height: 30px;
}
  
input:focus {
  outline: none;
}

.btn {
  color: #fff;
  border: 0;
  border-radius: 8px;
  color: #fff;
  width: 100px;
  height: 40px;
  cursor: pointer;
  margin-top: 5px;
}

.btn-primary {
  background-color: #22a0b1;
}

select {  
  display: flex;
  flex-grow: 2;
  border: none;
  font-size: 16px;
  height: 30px;
  color: #4a4f53;
}

.errors {
  color: red;
}

.success-msg {
  height: 30px;
  width: 250px;
  border-radius: 8px;
  background-color: aquamarine;
  color: #4a4f53;
  display: flex;
  flex-direction: row;
  padding: 10px 5px;  
}

#bannerImg {
  max-width: 100%;
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}
